@model March_Madness.Models.ViewModels.TournamentRegionViewModel
@{
    ViewBag.Title = "TournamentForm";
}

<h2>Tournament Form</h2>
<div class="container">
	<div class="row">
		@* Here is where the Four Regions will go with selectors for all 64 games *@
		<div id="east-col" class="col-md-3  text-center">
			<h2 id="east-header">East</h2>
		</div>
		<div id="midwest-col" class="col-md-3 text-center">
			<h2 id="midwest-header">Midwest</h2>
		</div>
		<div id="west-col" class="col-md-3 text-center">
			<h2 id="west-header">West</h2>
		</div>
		<div id="south-col" class="col-md-3 text-center">
			<h2 id="south-header">South</h2>
		</div>
	</div>
	<button id="save" class="btn btn-primary btn-success">Save</button>
</div>
@section scripts
{
<script type="text/javascript">
	var isDev = true;
	var bracket = {
		'East': @("["  + String.Join(",", Model.East) + "]"),
		'Midwest': @("["  + String.Join(",", Model.Midwest) + "]"),
		'West': @("["  + String.Join(",", Model.West) + "]"),
		'South': @("["  + String.Join(",", Model.South) + "]")
	};

	var seedOrder = [1, 16, 8, 9, 5, 12, 4, 13, 6, 11, 3, 14, 7, 10, 2, 15]

	$(function () {
		$.ajax({
			url: '/api/teams',
			method: 'GET',
			success: function (d) {
				var masterSelect = $('<select>').css('float', 'right');
				$.each(d,
					function(i, school) {
						masterSelect.append('<option value=' +
							school.id +
							'>' +
							school.name +
							' ' +
							school.mascot +
							'</option>');
					});

				$.each(bracket, function (region, teams) {
					var regionDiv;
					$.each(seedOrder, function (index, seed) {
						var newSelect = $('<div>');
						if (index % 2 == 1) {
							newSelect.css('margin-bottom', '10px');
						}
						newSelect.append($('<label>').addClass('badge badge-light').css('width', '20px').text(seed));
						newSelect.append(masterSelect.clone().val(teams[seed - 1]).data('seed', seed).data('region', region));
								
						$('#' + region.toLowerCase() + '-col').append(newSelect);
					})
				})
			},
			failure: function(a, b, c) {
				console.log(a, b, c);
			}
		});

		$('#save')
			.on('click',
				function() {
					$('select').each(
						function () {
							var $this = $(this);
							if ($this.val() === 0) {
								if (!isDev) {
									alert('Please fill in all 64 Seeds');
									return false;
								}
							}
							else {
								bracket[$this.data('region')][$this.data('seed') - 1] = $this.val();
							}
									
						});

						$.ajax({
							url: '/api/Tournament',
							method: 'POST',
							data: bracket,
							success: function() {
								alert('Tournament Updated');
							},
							failure: function() {

							}
						})

				});
	});
</script>
}
