@model List<List<string>>
@{
	ViewBag.Title = "BracketForm";
}

<h2>Bracket Form</h2>
<div class="row">
	<div class="col-md-5">
		<div id="crypto-madness-east" style="height: 260px;"></div>
		<div id="crypto-madness-midwest" style="height: 260px;"></div>
	</div>
	<div class="col-md-2 container">
		<div id="crypto-madness-semi" style="top: 260px"></div>
	</div>
	<div class="col-md-5">
		<div id="crypto-madness-west" style="height: 260px;"></div>
		<div id="crypto-madness-south" style="height: 260px;"></div>
	</div>

</div>

@Scripts.Render("~/bundles/bracketScripts")
@section scripts
{
	<script type="text/javascript" src="~/Scripts/jquery.bracket.js"></script>
	<link rel="stylesheet" type="text/css" href="~/Content/jquery.bracket.css" />
	<script type="text/javascript">




		$(function () {
			var teamArray = []
			@foreach (var game in Model)
			{
				 @Html.Raw(($"teamArray.push([['{ game[0] }'], ['{ game[1]}']]);") + Environment.NewLine);
			}
			var minimalData = {
				teams: teamArray,
				results: [] /* second round */
				
			}
			$('#crypto-madness-east')
				.bracket({
					init: minimalData, /* data to initialize the bracket with */
					skipConsolationRound: true,
					save: bracketSave,
					disableToolbar: true,
					disableTeamEdit: true,
					isTwoSided: false,
					regions: 4,
					showFinalBubble: false
				});

			//$('#crypto-madness-midwest')
			//    .bracket({
			//        init: minimalData, /* data to initialize the bracket with */
			//        skipConsolationRound: true,
			//        save: function () {
			//            console.log('saved');
			//        },
			//        disableToolbar: true,
			//        disableTeamEdit: true
			//    })

			//$('#crypto-madness-west')
			//    .bracket({
			//        init: minimalData, /* data to initialize the bracket with */
			//        skipConsolationRound: true,
			//        dir: 'rl',
			//        save: function () {
			//            console.log('saved');
			//        },
			//        disableToolbar: true,
			//        disableTeamEdit: true
			//    })

			//$('#crypto-madness-south')
			//    .bracket({
			//        init: minimalData, /* data to initialize the bracket with */
			//        skipConsolationRound: true,
			//        dir: 'rl',
			//        save: function() {
			//            console.log('saved');
			//        },
			//        disableToolbar: true,
			//        disableTeamEdit: true
			//    });

			//$('#crypto-madness-semi')
			//    .bracket({
			//        init: semiFinal, /* data to initialize the bracket with */
			//		skipConsolationRound: true,
			//		save: bracketSave //,
			//		//disableToolbar: true,
			//		//disableTeamEdit: true,
			//    })

		})
	</script>

}


