@model List<List<string>>
@{
	ViewBag.Title = "BracketForm";
}

<h2>Bracket Form</h2>
<div class="row">
	<div 
</div>
<div class="row">
	<div class="col-md-11">
		<div id="crypto-madness" style="height: 260px;"></div>
		
	</div>
	<div style="z-index:99999;">
		<button class="btn btn-primary btn-success" id="submitBracket" >Enter</button>
	</div>


</div>

@Scripts.Render("~/bundles/bracketScripts")
@section scripts
{
	<script type="text/javascript" src="~/Scripts/jquery.bracket.js"></script>
	<link rel="stylesheet" type="text/css" href="~/Content/jquery.bracket.css" />
	<script type="text/javascript">




		$(function () {
			var teamArray = []
			@foreach (var game in Model)
			{
				 @Html.Raw(($"teamArray.push([['{ game[0] }'], ['{ game[1]}']]);") + Environment.NewLine);
			}
			var minimalData = {
				teams: teamArray,
				results: [] /* second round */
				
			}
			$('#crypto-madness')
				.bracket({
					init: minimalData, /* data to initialize the bracket with */
					skipConsolationRound: true,
					save: bracketSave,
					disableToolbar: true,
					disableTeamEdit: true,
					teamWidth: 150,
					scoreWidth: 0,
					showFinalBubble: false
				});


			$('#submitBracket').on('click', function () {
				if ($('.highlightWinner').length > 0 && $('.highlightWinner .highlight').length === 0) {
					var results = $('#crypto-madness').bracket('data').results;
				} else {
					alert('All games must be selected.');
				}
			});
			//$('#crypto-madness-midwest')
			//    .bracket({
			//        init: minimalData, /* data to initialize the bracket with */
			//        skipConsolationRound: true,
			//        save: function () {
			//            console.log('saved');
			//        },
			//        disableToolbar: true,
			//        disableTeamEdit: true
			//    })

			//$('#crypto-madness-west')
			//    .bracket({
			//        init: minimalData, /* data to initialize the bracket with */
			//        skipConsolationRound: true,
			//        dir: 'rl',
			//        save: function () {
			//            console.log('saved');
			//        },
			//        disableToolbar: true,
			//        disableTeamEdit: true
			//    })

			//$('#crypto-madness-south')
			//    .bracket({
			//        init: minimalData, /* data to initialize the bracket with */
			//        skipConsolationRound: true,
			//        dir: 'rl',
			//        save: function() {
			//            console.log('saved');
			//        },
			//        disableToolbar: true,
			//        disableTeamEdit: true
			//    });

			//$('#crypto-madness-semi')
			//    .bracket({
			//        init: semiFinal, /* data to initialize the bracket with */
			//		skipConsolationRound: true,
			//		save: bracketSave //,
			//		//disableToolbar: true,
			//		//disableTeamEdit: true,
			//    })

		})
	</script>

}


