@model IEnumerable<March_Madness.Models.BracketEntry>

@{
    ViewBag.Title = "Brackets";
}

<h2>@User.Identity.Name's Brackets</h2>

<p>
    @Html.ActionLink("New", "BracketForm")
</p>
<table class="table md-col-3">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.ActionLink(item.Name, "BracketForm", new { bracketId = item.Id })
			</td>

		</tr>
	}

</table>
