@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Greg Padin's Blockchain March Madness Manager</h1>
    <p class="lead">An example of how to build a March Madness Bracket Manager with an ASP.NET MVC Interface that maintains all payouts on the Etherium Blockchain.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Setting Up the Bracket</h2>
        <p>
           Log in as an Administrative User to set up the years tournament.
        </p>
		<ul>
			<li>Enter The schools that are competing and configure the seedings for that years tournament</li>
			<li>Configure the commision for someone creating a bracket entry</li>
			<li>Charge a set fee to establish a private pool that only accepts entries from whitelisted wallet addresses</li>
		</ul>
    </div>
    <div class="col-md-4">
        <h2>Join the Madness</h2>
		<ul>
			<li>Create an account to get started!</li>
			<li>Pick all 67 games and get ready to root for your picks while you compete against all the other entrants in our super contest</li>
			<li>Challenge your friends, family, or co-workers to put their tokens where there mouth is and start a private pool.</li>
		</ul>
    </div>
    <div class="col-md-4">
        <h2>Why use Greg Padin's March Madness Bracket</h2>
		<ul>
			<li>All stakes are held in escrow on the ethereum blockchain. No more chasing down deadbeats to pay. All payments are required up front!</li>
			<li>Quick Payments - All winners will be paid automatically shortly after the conclusion of the National Championship Game.</li>
			<li>Ensure your Bracket's Integrity - Once the first game start all brackets are locked on the Etherum Blockchain, ensuring nobody can change a bracket maliciously</li>
		</ul>
    </div>
</div>